@attribute [Route("/" + PagePath.Customers)]
@attribute [Authorize]

<h3 class="card-title">Customers</h3>

<a href="@PagePath.Customers/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Customer
</a>

<hr />
<br />
@if (Model == null)
{
    <div class="alert alert-info">Loading Customers...</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Contact Number</th>
                <th>Email Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.FirstName @customer.LastName</td>
                    <td>@customer.ContactNumber</td>
                    <td>@customer.EmailAddress</td>
                    <td>
                        <a href="@PagePath.Customers/view/@customer.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="@PagePath.Customers/edit/@customer.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="() => Delete(customer.Id)">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

}
