@attribute [Route("/" + PagePath.Bookings)]
@attribute [Authorize]

<h3 class="card-title">Bookings</h3>

<a href="@PagePath.Bookings/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Booking
</a>

<hr />
<br />
@if (Model == null)
{
    <div class="alert alert-info">Loading Bookings...</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Customer Tax Id</th>
                <th>Date</th>
                <th>Duration in Days</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Customer.TaxId</td>
                    <td>@booking.DateCreated.Date.ToString("dd MMMM yyyy")</td>
                    <td>
                    @(booking.DateIn != null ? (booking.DateIn.Value - booking.DateOut).TotalDays.ToString()
                        : "To be determined")
                    </td>
                    <td>
                        <a href="@PagePath.Bookings/view/@booking.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="@PagePath.Bookings/edit/@booking.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="() => Delete(booking.Id)">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

}
